.site-header {

    position: relative ;
    padding: 1em;
    font-family: $font_sans;
    color: #fff;
    background-color: $color_skin;

    @media screen and (min-width: $query_small){

        padding: 1em 2em;
    }


}